.carousel__container {
    display: flex;
    margin-top: 10px;
    /* min-height: fit-content; */
    height: 31.5rem;
    /* width: 70%; */
    min-width: 50%;
    max-width: 50%;
    position: absolute;
    justify-content: space-between;
}